h1 {
  font-size: 18pt;
  font-family: sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.gridYear {
  font-size: 8pt;
  font-family: sans-serif;
}

.meanDeviation {
  margin-bottom: 50px;
}

.tempCell {
  fill: rgb(200, 200, 200);
}

.tempLine-off line {
  stroke: rgba(100, 100, 100, 0.02);
  stroke-width: 1px;
}

.tempLine-on line {
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 3px;
}

/*.temp-segment {
  stroke: rgba(100, 100, 100, 0.05);
  stroke-width: 1px;
}*/

.min-max-area {
  fill: rgba(0, 0, 0, 0.1);
}

.xLines {
  stroke: rgba(0,0,0,0.1);
  stroke-dasharray: 2,2;
}

.yLines {
  stroke: rgba(0,0,0,0.1);
  stroke-dasharray: 2,2;
}
